/* @charset "utf-8";
*{
	padding:0;
	margin:0;
	font-family:'Open Sans Light';
	letter-spacing:.05em;
}
html{
	height:100%;
}
body{
	height:100%;
}

.container{
	height:100%;
	background-image: linear-gradient(to right,#fbc2eb,#a6c1ee);
}

.login-wrapper{
	background-color:#fff;
	width:250px;
	height:500px;
	border-radius: 15px;
	padding:0 50px;
	position:relative;
	left:50%;
	top:50%;
	transform: translate(-50%,-50%);	
}
.login-wrapper .header{
	font-size:30px;
	font-weight: bold;
	text-align: center;
	line-height: 200px;
}
.login-wrapper .form-wrapper .input-item{
	display: block;
	width: 100%;
	margin-bottom: 20px;
	border:0;
	padding: 10px;
	border-bottom: 1px solid rgb(128,125,125);
	font-size: 15px;
	outline: none;	
}
.login-wrapper .form-wrapper .input-item::placeholder{
	text-transform: uppercase;
}
.login-wrapper .form-wrapper .btn{
	text-align:center;
	padding: 10px;
	width:100%;
	margin-top:40px;
	background-image: linear-gradient(to right,#a6c1ee,#fbc2eb);
	color:#fff;
}
.login-wrapper .msg{
	text-align: center;
	line-height: 80px;
}
.login-wrapper .msg a{
	text-decoration-line:none;
	color:#A6C1EE;
} */
* {
    margin: 0;
    padding: 0;
}
 
html {
    height: 100%;
    width: 100%;
    overflow: hidden;
    margin: 0;
    padding: 0;
    /* background: url(Desert.jpg) no-repeat 0px 0px; */
	background-image: linear-gradient(to right,#fbc2eb,#a6c1ee);
    /* background-repeat: no-repeat; */
    background-size: 100% 100%;
    -moz-background-size: 100% 100%;
}
 
body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}
 
#loginDiv {
    width: 37%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;
    background-color: rgba(75, 81, 95, 0.3);
    box-shadow: 7px 7px 17px rgba(52, 56, 66, 0.5);
    border-radius: 5px;
}
 
#name_trip {
    margin-left: 50px;
    color: red;
}
 
p {
    margin-top: 30px;
    margin-left: 20px;
    color: azure;
}
 
input {
    margin-left: 15px;
    border-radius: 5px;
    border-style: hidden;
    height: 30px;
    width: 140px;
    background-color: rgba(216, 191, 216, 0.5);
    outline: none;
    color: #f0edf3;
    padding-left: 10px;
}
 
.button {
    border-color: cornsilk;
    background-color: rgba(100, 149, 237, .7);
    color: aliceblue;
    border-style: hidden;
    border-radius: 5px;
    width: 100px;
    height: 31px;
    font-size: 16px;
}